.container {
    display: flex;
    border-radius: 10px;
    background-color: #f5f5f5;

    .area1 {
        width: 40%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #6BEFA3;
        position: relative;

        .wrapper {
            background-color: #6BEFA3;
            width: 100%;
            height: 100vh;
            position: relative;

            .curve {
                background-color: #f5f5f5;
                width: 30%;
                height: 120vh;
                position: absolute;
                right: 0;
                top: -10%;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
                z-index: 1;
            }

            .content {
                position: relative;
                z-index: 2;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .btn-select {
                    margin-top: 50px;
                    width:30%; // Ajustado para 120% da largura
                    margin-left: -40%; // Move para o lado esquerdo
                    position: relative;

                    form {
                        select {
                            width: 100%; // Ajusta o select para ocupar toda a largura da área ajustada
                            height: 4vh;
                            border-radius: 5px;
                            border: none;
                            background: #f5f5f5;
                            color: #002;
                            font-size: 1.3em;
                            font-weight: 500;
                            padding-left: 10%;
                        }
                    }
                }

                .logo-select {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    flex-grow: 1; /* Ocupa espaço restante no centro */
                    margin-left: -45%; // Move a logo para a esquerda, como solicitado
                    
                    h1 {
                        font-size: 2em;
                        color: #333;
                    }
                }

                .concurso {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    margin-left: -50%; // Move o concurso para a esquerda, conforme desejado

                    h1 {
                        font-size: 1em;
                        font-weight: 400;
                        color: #ffffff;
                    }

                    h2 {
                        font-size: 1.3em;
                        color: #fff;
                    }
                }
            }
        }
    }
    .area2{
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #f5f5f5;
        /* alinhar no centro da tela*/
        justify-content: center;
        
        .roll{
            display: flex;
            gap: 80px;

            .bola{
                content: "15";
                text-align: center;
                line-height: 85px;
                border-radius: 50%;
                width: 85px;
                height: 85px;

                font-size: 1.3rem;
                font-weight: 700;
                background: #fff;
            }
        }
        .copy{
            /* alinhar no bottom da tela*/
            position: absolute;
            bottom: 0;
            margin-bottom: 10px;
            font-size: 0.8em;
            margin-left: 10%;
        }
    }
}
