<div class="container">
    <div class="area1">
        <div class="wrapper">
            <div class="curve"></div>
            <div class="content">
                <div class="btn-select">
                    <form action="select">
                        <select name="select" id="select">
                            <option value="mega-sena">Mega-Sena</option>
                            <option value="lotofacil">Lotofácil</option>
                            <option value="quina">Quina</option>
                            <option value="lotomania">Lotomania</option>
                            <option value="timemania">Timemania</option>
                            <option value="dupla-sena">Dupla Sena</option>
                            <option value="dia-de-sorte">Dia de Sorte</option>
                        </select>
                    </form>
                </div>
                <div class="logo-select">
                    <h1>Logo Aqui</h1>
                </div>
                <div class="concurso">
                    <h1>Concurso</h1>
                    <h2>01/04/2025</h2>
                </div>
            </div>
        </div>
    </div>


    
    
    
    
    <div class="area2">
        <div class="roll">
            <div class="bola">15</div>
            <div class="bola">15</div>
            <div class="bola">15</div>
            <div class="bola">15</div>
            <div class="bola">15</div>
            <div class="bola">15</div>
        </div>
        <div class="copy">
            <h1>Este site nao tem associacao com a CAIXA.</h1>
        </div>
    </div>
</div><!-- .container -->